:root {
  --nav-hover-color: #fbf5df;
  --font-family: PexicoMicro-Regular, sans-serif;
  --font-color: #fbfbf9;
  --theme-color: #c1fd9e;
}

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background-color: #01748b;
  overflow: hidden;
  font-family: var(--font-family);
}

.header {
  position: absolute;
  top: 2vw;
  width: 100%;
  display: flex;
  z-index: 10;
  font-size: 1.5vw;
  text-align: center;
}

.header .logo {
  position: relative;
  color: var(--font-color);
  left: 7vw;
  cursor: none;
  display: inline;
}

.header .nav-links {
  margin-left: auto;
  padding-right: 10vw;
}

.header .nav-links ul {
  padding: 0;
  word-spacing: 3vw;
}

.header .nav-links ul li {
  list-style: none;
  letter-spacing: 0vw;
  display: inline-block;
}

.header .nav-links ul li a {
  font-weight: 600;
  color: var(--font-color);
  text-decoration: none;
}

.header .nav-links ul li a:hover {
  color: var(--theme-color);
  text-decoration: none;
  cursor: none;
  transition: 0.5s;
}

.header .time {
  position: fixed;
  left: 45vw;
  font-weight: 100;
  color: #c1fd9e;
}

.backText {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 13vw;
  top: 10vw;
  width: 74vw;
  height: 60vh;
  margin: 0;
  text-align: center;
  z-index: 2;
  opacity: 0.01;
  font-family: "Source Code Pro", monospace;
}

.backText h1 {
  color: #fff;
  font-size: 8vw;
}

.location {
  height: 2vh;
  color: var(--theme-color);
  position: absolute;
  left: 7vw;
  top: 95vh;
  font-size: 1vw;
}

.cursor {
  position: absolute;
  height: 1vw;
  width: 1vw;
  border: 1px solid var(--theme-color);
  border-radius: 0 0 0 100%;
  border-left: transparent;
  border-bottom: transparent;
  z-index: 100;
  pointer-events: none;
}

.cursor::after {
  content: "";
  position: absolute;
  height: 1vw;
  width: 1vw;
  border: 1px solid var(--theme-color);
  margin: 0.3vw -0.5vw;
  border-radius: 0 0 0 100%;
  pointer-events: none;
}

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,600&display=swap");

@font-face {
  font-family: "PexicoMicro-Regular";
  src: url("https://db.onlinewebfonts.com/t/852be80a3188170a0c4ebb2534efb54d.eot");
  src: url("https://db.onlinewebfonts.com/t/852be80a3188170a0c4ebb2534efb54d.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/852be80a3188170a0c4ebb2534efb54d.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/852be80a3188170a0c4ebb2534efb54d.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/852be80a3188170a0c4ebb2534efb54d.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/852be80a3188170a0c4ebb2534efb54d.svg#PexicoMicro-Regular")
      format("svg");
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: auto;
  margin: auto;
  margin-top: 15vh;
}

.project {
  background-color: #fff;
  padding: 2vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 2;
  margin: 0 1vw;
  max-width: 60%;
}

.project h2 {
  font-size: 2vw;
  margin-bottom: 1vw;
}

/* Media query for responsiveness */
@media (max-width: 1024px) {
  .project {
    min-width: 60%;
    margin-bottom: 2vh;
  }
}
