body {
  background-color: #121212;
}

.backText h1 {
  color: #fff;
  font-size: 18vw;
  opacity: 0.02;
}
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: auto;
  margin-top: 30vh;
}

.project {
  background-color: #292929;
  color: #fff;
  padding: 2vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 1vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  z-index: 2;
  height: 30vh;
  width: 30vw;
}
.project:hover {
  opacity: 1;
  transform: scale(1.01);
  transition: 0.5s;
}

/* .project:nth-child(1) {
  height: 38vh;
  width: 38vw;
}
.project:nth-child(2) {
  height: 30vh;
  width: 30vw;
} */

.project h2 {
  font-size: 2vw;
  margin-bottom: 1vw;
}

/* Currently nav-links are not visible on small screen sizes */

@media (max-width: 900px) {
  .header {
    font-size: 2.7vw;
  }
  .project-container {
    margin-top: 20vh;
  }
  .project:nth-child(1) {
    background-image: none;
    height: 18vh;
    width: 28vw;
  }
  .project:nth-child(2) {
    height: 18vh;
    width: 28vw;
  }
  .location {
    font-size: 2.7vw;
  }
  .cursor {
    visibility: hidden;
  }
}
