 @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,600&display=swap');

:root {
  --nav-hover-color: #fbf5df;
  --font-family:PexicoMicro-Regular, sans-serif;
  --font-color: #fbfbf9;
  --theme-color:#c1fd9e;
  overflow: hidden;
  cursor: none;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 820px;
  width: 1440px;
  box-sizing: border-box;
  padding: 0;
  background-color:#01748B;
  background: linear-gradient(
    90deg,
    rgb(68, 67, 95) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgb(1, 116, 139) 100%
  );
  
  overflow: hidden;
}
.header {
  position: absolute;
  top: 30px;
  /* border:1px solid red; */
  width: 100%;
  height: fit-content;
  display: flex;
  z-index: 10;
  font-size: 20px;
  text-align: center;
  font-family: var(--font-family);

}
.header .logo {
  position: relative;
  color: var(--font-color);
  /* font-size: medium; */
  left: 88px;
  cursor: none;
  display: inline;
  /* border: 1px solid black; */
  clip-path: polygon(85% 15%, 100% 50%, 75% 92%, 26% 91%, 9% 58%, 11% 6%);
}
.header .nav-links {
  /* border: 1px solid black; */
  margin-left: 70%;

}
.header .nav-links ul {
  padding: 0;
  word-spacing: 15px;
}
.header .nav-links ul li {
  list-style: none;
letter-spacing: 0px;
  display: inline-block;
  

}

.header .nav-links ul li a {
  font-weight: 600;
  color: var(--font-color);
  text-decoration: none;

}

.header .nav-links ul li a:hover {
  /* color: var(--nav-hover-color); */
  color: var(--theme-color);
  text-decoration: none;
  cursor: none;
  transition: 0.5s;
}

.header .time{
  /* position: absolute; */
  position: fixed;
  left: 652px;
  font-weight: 100;
  color:#c1fd9e;
}
.backText {
  /* display: inline-block; */
  /* border: 1px solid black; */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 194px;
  top: 220px;
  width: 1054px;
  height: 480px;
  font-family: "Source Code Pro", monospace;
  margin: 0;
  text-align: center;
  z-index: 2;
  opacity: .01;
  
  /* animation: fadeInText ease 3s; */
}
.backText h1 {
  color: #fff;
  font-size: 300px;

}
 
#myBtn {
  z-index: 200;
}


.location{
  font-family: var(--font-family);
  height: 18px;
  color: var(--theme-color);
  position: absolute;
  left: 72px;
  top: 785px;
  z-index: 4;
  /* border: 1px solid var(--theme-color); */
  font-size: 14px;

}
 
.cursor {
  position: absolute;
  height: 10px;
  width: 10px;
  border: 1px solid var(--theme-color);
  border-radius: 0px 0px 0px 100%;
  border-left: transparent;
  border-bottom: transparent;
  z-index: 100;
  pointer-events: none;
}

.cursor::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  border: 1px solid var(--theme-color);
  margin: 3px -5px;
  border-radius: 0px 0px 0px 100%;
  pointer-events: none;
}


.attribute {
  position: absolute;
  bottom: 10px;
}



 

@font-face {
  font-family: "PexicoMicro-Regular";
  src: url("https://db.onlinewebfonts.com/t/852be80a3188170a0c4ebb2534efb54d.eot");
  src: url("https://db.onlinewebfonts.com/t/852be80a3188170a0c4ebb2534efb54d.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/852be80a3188170a0c4ebb2534efb54d.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/852be80a3188170a0c4ebb2534efb54d.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/852be80a3188170a0c4ebb2534efb54d.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/852be80a3188170a0c4ebb2534efb54d.svg#PexicoMicro-Regular")
      format("svg");
}
