body {
  background-color: #121212;
}

.backText h1 {
  color: #fff;
  font-size: 18vw;
  opacity: 0.02;
}
.project-container {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: auto;
  margin-top: 20vh;
  gap: 2vh;
  font-family: "Source Sans Pro", "Microsoft Yahei", sans-serif;
}

.project {
  border-radius: 10px;
  background-color: #292929;
  color: #fff;
  padding: 2vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 1vw;
  z-index: 2;
  height: 20vh;
  width: 58vw;
  line-height: 2.7vh;
}

.project:hover {
  opacity: 1;
  transform: scale(1.01);
  transition: 0.5s;
}
.project .blog-title {
  position: relative;
  height: 10vh;
  margin-top: -3vh;
  opacity: 0.8;
}
.project .blog-discription {
  position: relative;
  top: -4vh;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  opacity: 0.6;
}

.project .blog-date {
  position: relative;
  top: -2.5vh;
  opacity: 0.6;
}

/* Currently nav-links are not visible on small screen sizes */

/* Media query for responsiveness */

@media (max-width: 900px) {
  .header {
    font-size: 2.7vw;
  }
  .project {
    height: 15vh;
    width: 58vw;
  }
  .project .blog-title {
    top: 0.7vh;
  }
  .project-container .project .blog-discription {
    top: -5vh;
  }

  .project .blog-date {
    margin-top: -4.7vh;
  }
  .location {
    font-size: 2.5vw;
  }
  .cursor {
    visibility: hidden;
  }
}

@media (max-width: 375px) {
  .project-container .project .blog-title {
    font-size: 3vw;
  }
  .project-container .project .blog-discription {
    font-size: 2.9vw;
  }
  .project-container .project .blog-date {
    font-size: 2.9vw;
  }
}
@media (max-width: 360px) {
  .project-container .project .blog-discription {
    top: -4vh;
    line-height: 2vh;
  }
  .project-container .project .blog-date {
    margin-top: -2.5vh;
  }
}
